* { 
    box-sizing: border-box;
   }

.tabla-1-punko {
    border: 5px solid white;     /* Borde de la tabla */
    width: 290px;               /* Ancho de la tabla */
    border-radius: 15px;        /* Esquinas redondeadas */
    overflow: hidden;           /* Para que las celdas no sobresalgan */
    text-align: center;         /* Centrar el contenido de todas las celdas */
    margin: 10px;               /* Espacio entre tablas */
    background-color: transparent;     /* Opcional: color de fondo */
    border-collapse: separate;
}

.contenedor-productos {
    display: flex;
    flex-wrap: wrap; /* 🔥 hace que bajen */
    justify-content: center;
}

.td-tabla-funko {
    padding: 30px;
    text-align: center;
}

.boton-tabla-funko {
    background-color: #ff9389; /* color llamativo */
    color: white; /* texto blanco */
    font-size: 18px; /* más grande */
    font-weight: bold;
    padding: 12px 25px; /* más alto y ancho */
    border: none; /* quita borde por defecto */
    border-radius: 10px; /* esquinas redondeadas */
    cursor: pointer;
    transition: all 0.3s ease; /* efecto suave al pasar el mouse */
}

.boton-tabla-funko:hover {
    background-color: #ff301d; /* cambio de color al pasar el mouse */
    transform: scale(1.05); /* efecto de “agrandar” */
}