/* Sección general */
.rastreo {
  padding: 40px 20px;
  text-align: center;
}

/* Título */
.titulo {
  font-size: 32px;
  margin-bottom: 30px;
}

/* Contenedor */
.tabla-container {
  overflow-x: auto;
}

/* Tabla */
.tabla-rastreo {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

/* Encabezado */
.tabla-rastreo thead {
  background: #111;
  color: #fff;
}

/* Celdas */
/* ENCABEZADO */
.tabla-rastreo th {
  padding: 15px;
  color: #fff; /* blanco para que se vea */
  text-align: center;
}

/* CELDAS */
.tabla-rastreo td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  color: #111; /* negro normal */
  text-align: center;
}
/* Hover */
.tabla-rastreo tbody tr:hover {
  background: #f5f5f5;
}

/* Imagen producto */
.img-producto {
  width: 120px;
  display: block;
  margin: 0 auto;
}

/* Estados */
.estado {
  font-weight: bold;
  border-radius: 20px;
  padding: 8px 12px;
  display: inline-block;
  margin: 0 auto;
}

/* Colores */
.almacen {
  background: #ffeaa7;
  color: #b7791f;
}

.envio {
  background: #c7f9cc;
  color: #1b4332;
}

marquee {
  margin-top: 40px; /* espacio arriba */
}